/* AutoSlider.css */
.imageSlider {
    width: 1200px;
    width: 90%; /* Adjust the max-width as needed */
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    text-align: center;
  }

  .imageSlider img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image within its container */
  }
  