/* CSS for Contact Card */
.contactCard {
    border: 1px solid hsl(0, 2%, 82%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.112);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    height:auto;
    display: inline-block;
    height: max-content;
    background-color: hsl(0, 19%, 88%);
  }
  
  .contactCard .contactImg {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }