.logo {
    width: 120px;
    margin: 0px 30px 0px 0px;
    position: fixed;
    left:0;
  }

  .header {
    position: sticky;
    top:0px;
    width: 1250px;
    height: 50px;
    margin: 0px;
    background-color: hsla(0, 0%, 20%, 0.557); /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 10px; /* Add padding for better visibility */
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */

    display: flex;
    flex-direction:row;
    align-items: center; /* Alignement horizontal au centre */
    justify-content: center; /* Alignement vertical au centre */
  }