.imgContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

/* Ajoutez un état `hover` si vous souhaitez des effets supplémentaires */
.imgContainer:hover .image {
  opacity: 0.9; /* Réduit légèrement l'opacité au survol */
  cursor: pointer; /* Affiche un curseur interactif */
}