  .carouselContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    /* Utilisation de "white-space: nowrap;" pour éviter le retour à la ligne des slides */
    white-space: nowrap;
    animation: scroll 10s linear infinite; /* Applique l'animation au conteneur de carousel */
  }
  
  .slide {
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    background-color: #f0f0f0;
    /* Ajoutez d'autres styles de design selon vos besoins */
    width: 100%; /* Chaque slide occupe 100% de la largeur du conteneur */
  }
  
  /* Animation de défilement horizontal */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Arrête l'animation au survol du carousel */
  .carouselContainer:hover .slides {
    animation-play-state: paused;
  }