.logo {
    width: 120px;
    margin: 0px 30px 0px 0px;
    position: fixed;
    left:0;
  }
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #33333313; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 10px; /* Add padding for better visibility */
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */

    display: flex;
    flex-direction:row;
    align-items: center; /* Alignement horizontal au centre */
    justify-content: center; /* Alignement vertical au centre */
  }

  main {
    margin-top: 60px; /* Adjust the margin based on the height of your fixed header */
    display: flex;
    flex-direction:row;
    align-items: center; /* Alignement horizontal au centre */
    justify-content: center; /* Alignement vertical au centre */
  }

  footer {
    position:relative;
    bottom: 0;
    left: 0;
  }