.marqueeContainer {
    width: 1250px;
    margin: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: hsl(34,34%,53%);
    color: white;
  }
  
  .marqueeContent {
    display:inline-block;
    animation: marqueeAnimation 20s linear infinite;
  }
  
  @keyframes marqueeAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  